@import url('resets.css');
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300);

/* www.nielsgerritsen.com
By Niels Gerritsen
All rights reserved */

/* ------------------------------------------------------------------------- */
/*		             Default Layout: 800px | 24px | 848px                    */
/* ------------------------------------------------------------------------- */

body { 
	/* background: #ccc url('../img/bg.png'); */
	background-color: #eee;
	font-family: 'Raleway', Arial, sans-serif;
	color: #333;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Raleway', Arial, sans-serif; 
	font-weight: 200;
}

#bar-wrap {
	width: 100%;
	position: fixed;
	height: 5px;
	background-color: #444;
}

#wrap {
	width: 720px;
	overflow: hidden;
	background-color: #fdfdfd;
	padding: 0 50px;
	margin: -22px auto 36px auto;
	position: relative;
}

.clear { clear: both; }
.center { width: 100%; text-align: center; }
.wide { width: 100%; }

/* ---------------------------------------------------------- Intro --- */

header { 
	text-align: center;
	padding: 40px 0 80px 0;
	background: url('../img/background.jpg') no-repeat center center;
	width: 100%;
}

header img { 
	width: 260px;
	height: auto;
}

h1 {
	font-size: 56px;
	font-weight: 200;
	padding-bottom: 65px;
	color: #ffffff;
}

h2 {
	padding-bottom: 18px;
}

h3 {
	padding-bottom: 12px;
}

p {
	padding-bottom: 24px;
}

p.quote {
	font-size: 24px;
	color: #666;
	width: 100%;
	text-align: center;
}

/* ---------------------------------------------------------- Navigation --- */

nav {
	height: 60px;
	position: relative;
	z-index: 99;
	background-color: #333;
	width:  100%;
	box-shadow: 0 -10px 0 #6d648f;
}

nav ul {
	display: block;
	margin: 0 auto;
	width: 720px;
}

nav li { 
	float: left; 
	width: 24.5%; 
	text-align: center; }

nav li a {
	line-height: 60px;
	font-size: 22px;
	font-weight: 200;
}

nav a:link { color: #ddd; text-decoration: none; }
nav a:visited { color: #ddd; text-decoration: none; }
nav a:active { color: #ddd; text-decoration: none; }
nav a:hover { color: #888; text-decoration: none; }

.sticky-wrapper { padding-bottom: 0px; } /* FIX */

.stuck {
  	position: fixed;
  	top: 0;
 	width: 100%;
}

/* ---------------------------------------------------------- About --- */

#about {
	padding: 40px 0;
}

#about ul {
	list-style: circle;
	margin-left: 20px;
}


/* ---------------------------------------------------------- Buttons --- */

#cv {
	padding: 0 0 50px 0;
}

.button-wrap {
	width: 50%;
	overflow: hidden;
	float: left;
	margin-bottom: 24px;
}

.button {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color: #ededed;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #dcdcdc;
	display: block;
	width: 60%;
	color: #777777;

	font-size: 19px;
	font-weight: bold;
	padding: 12px 24px;
	margin: 0px auto;
	text-decoration: none;
	text-shadow: 1px 1px 0px #ffffff;
	text-align: center;
}

.button:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background: -moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color: #dfdfdf;
}

.button:active {
	position: relative;
	top: 1px;
}

.button2 {
	-moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
	box-shadow: inset 0px 1px 0px 0px #bee2f9;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
	background: -moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
	background-color: #63b8ee;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #3866a3;
	display: block;
	width: 60%;
	color: #14396a;

	font-size: 19px;
	font-weight: bold;
	padding: 12px 24px;
	margin: 0px auto;
	text-decoration: none;
	text-shadow: 1px 1px 0px #7cacde;
	text-align: center;
}

.button2:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background: -moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color: #468ccf;
}

.button2:active {
	position: relative;
	top: 1px;
}

/* This imageless css button was generated by CSSButtonGenerator.com */

/* ---------------------------------------------------------- Tagcloud --- */

div#tagcloud {
	padding: 26px 34px 42px 34px;
	margin: 0px auto;
	width: 80%;
}

#tagcloud p {
	padding: 2px;
	margin: 0;
	display: inline-block;
}
p.t1 { font-size: 32px; }
p.t2 { font-size: 26px; }
p.t3 { font-size: 22px; }
p.t4 { font-size: 18px; }
p.t5 { font-size: 16px; }
p.tq { font-size: 50px; font-family: arial; line-height: 24px; color: #666;}

/* ---------------------------------------------------------- Contact --- */

#contact {
	margin: 0 -50px;
	padding: 40px 50px;
	background-color: #333;
	color: #ddd;
}

#contact li {
	width: 50%;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	float: left;
}

img.icon {
	width: 26px;
	height: auto;
	display: block;
	padding: 0 16px 0 0;
	float: left;
}

#contact a:link { color: #fff; text-decoration: none; }
#contact a:visited { color: #fff; text-decoration: none; }
#contact a:active { color: #fff; text-decoration: none; }
#contact a:hover { color: #fff; text-decoration: underline; }



/* ------------------------------------------------------------------------- */
/*		                    Mobile Layout: 320px.                            */
/* ------------------------------------------------------------------------- */
    

@media only screen and (max-width: 767px) {
	
	
	#wrap { 
		width: 300px;
		padding: 0px 24px;
		margin-bottom: 0;
	 }
	 
	 header img { 
	 	width: 220px;
	 	height: auto;
	 }
	 
	 h1 {
	 	font-size: 40px;
	 	padding-bottom: 40px;
	 }
	 
	 nav ul {
	 	width: 300px;
	 	height: 38px;
	 }
	 
	 nav li a {
	 	font-size: 15px;
	 	line-height: 4;
	 }
	 
	 #about {
	 	padding: 30px 0;
	 }
	 
	 #cv {
	 	padding: 0 0 40px 0;
	 }
	 
	 .button-wrap {
	 	width: auto;
	 	overflow: hidden;
	 	float: none;
	 }

	 
	 .button { width: auto; }
	 .button2 { width: auto; }
	 
	 #contact li {
	 	width: auto;
	 	float: none;
	 	margin-bottom: 22px;
	 }
	 
	 #contact {
	 	padding: 40px 50px 20px 50px;
	 }
	
}

/* ------------------------------------------------------------------------- */
/*		                 Wide Mobile Layout: 480px.                          */
/* ------------------------------------------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#wrap { width: 418px; }
	
	h1 {
		font-size: 50px;
	}
	
	nav ul {
		width: 418px;
		height: 46px;
	}
	
	nav li a {
		font-size: 18px;
		line-height: 3.5;
	}
	
	.button-wrap {
		width: 50%;
		overflow: hidden;
		float: left;
		margin-bottom: 24px;
	}
	
	.button { width: 60%; }
	.button2 { width: 60%; }
	
}

/* ---------------------------------------------------------- Selection Colors --- */

::selection 	 	{background: #8aadc3;}
::-moz-selection 	{background: #8aadc3;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #8aadc3;}

/* ---------------------------------------------------------- IE Warning and Fixes --- */

div.iexplorer {
	position: absolute;
	width: 100%;
	top: 0px;
}

div.iexplorer p {
	width: 400px;
	margin: 20px auto;
	padding: 16px;
	font: 26px Arial, sans-serif;
	line-height: 28px;
	color: #6e3410;
	background-color: #ebc476;
	border: 7px solid #6e3410;
	text-align: center;
}

div.iexplorer p a:link { color: #9db6c6; }
div.iexplorer p a:active { color: #800202; }
div.iexplorer p a:visited { color: #800202; }
div.iexplorer p a:hover { color: #ca6464; }




 