/* www.nielsgerritsen.com
By Niels Gerritsen
All rights reserved */

body {
	background-color: #eee;
	font-family: 'Raleway', Arial, sans-serif;
	color: #333;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', Arial, sans-serif;
	margin-bottom: 24px;
	font-weight: 600;
}

.wrap {
	overflow: hidden;
	background-color: #fdfdfd;
	padding: 42px 42px 0;
  max-width: 820px;
	margin: 0 auto;
	position: relative;
}

.section {
	margin-bottom: 24px;
}

.clear { clear: both; }
.center { width: 100%; text-align: center; }
.wide { width: 100%; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* ---------------------------------------------------------- Intro --- */

header {
	text-align: center;
	padding: 40px 0 80px 0;
	background: url('../img/background.jpg') no-repeat center center;
	width: 100%;
}

header img {
	width: 260px;
	height: auto;
}

h1 {
	font-size: 56px;
	font-weight: 200;
	margin-bottom: 65px;
	color: #ffffff;
}

p {
	margin-bottom: 28px;
}

p.quote {
	font-size: 24px;
	margin: 12px 0 40px 0;
	color: #666;
	width: 100%;
	text-align: center;
}

/* ---------------------------------------------------------- Navigation --- */

nav {
	height: 60px;
	position: relative;
	z-index: 99;
	background-color: #333;
	overflow: auto;
	width:  100%;
	box-shadow: 0 -10px 0 #6d648f;
}

nav ul {
	display: block;
	margin: 0 auto;
	width: 720px;
}

nav li {
	float: left;
	width: 24.5%;
	text-align: center; }

nav li a {
	line-height: 60px;
	font-size: 22px;
	font-weight: 200;
}

nav a:link { color: #ddd; text-decoration: none; }
nav a:visited { color: #ddd; text-decoration: none; }
nav a:active { color: #ddd; text-decoration: none; }
nav a:hover { color: #888; text-decoration: none; }

.sticky-wrapper { padding-bottom: 0px; } /* FIX */

.stuck {
	position: fixed;
	top: 0;
 	width: 100%;
}

/* ---------------------------------------------------------- About --- */

ul {
	list-style: circle;
	margin-left: 20px;
}

/* ---------------------------------------------------------- Buttons --- */

.button-wrap {
	width: 100%;
	margin-bottom: 36px;
	text-align: center;
}

.button {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	display: inline-block;
	color: #777777;

	font-size: 20px;
	font-weight: 700;
	padding: 12px 46px;
	margin: 0 12px 24px 12px;
	text-decoration: none;
	text-align: center;
}

.button-grey {
	background-color: #eaeaea;
}

.button-grey:hover {
	background-color: #dfdfdf;
}

.button-blue {
	background-color: #63b8ee;
	color: #14396a;
}

.button-blue:hover {
	background-color: #468ccf;
}


/* ---------------------------------------------------------- Tagcloud --- */

.tagcloud {
	text-align: center;
	margin-bottom: 36px;
}

.tagcloud p {
	padding: 2px;
	margin: 0;
	display: inline-block;
}
p.t1 { font-size: 32px; }
p.t2 { font-size: 26px; }
p.t3 { font-size: 22px; }
p.t4 { font-size: 18px; }
p.t5 { font-size: 16px; }
p.tq { font-size: 50px; font-family: Arial; line-height: 24px; color: #666;}

/* ---------------------------------------------------------- Contact --- */

#contact {
	margin: 0 -50px;
	padding: 40px 50px;
	background-color: #333;
	color: #ddd;
}

#contact li {
	width: 50%;
	font-weight: bold;
	font-size: 20px;
	list-style: none;
	color: #fff;
	float: left;
}

img.icon {
	width: 26px;
	height: auto;
	display: block;
	padding: 0 16px 0 0;
	float: left;
}

#contact a:link { color: #fff; text-decoration: none; }
#contact a:visited { color: #fff; text-decoration: none; }
#contact a:active { color: #fff; text-decoration: none; }
#contact a:hover { color: #fff; text-decoration: underline; }


/* ---------------------------------------------------------- Selection Colors --- */

::selection 	 	{background: #8aadc3;}
::-moz-selection 	{background: #8aadc3;}
img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
body {-webkit-tap-highlight-color: #8aadc3;}

/* ---------------------------------------------------------- Desktop up ---------- */

@media screen and (min-width: 904px) {
  .wrap {
    margin-bottom: 42px;
  }
}
